.auth-card {
    max-width: 400px;
    width: 100%;
    background: var(--primary-light);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--shadow-color);
    padding: 20px;
    color: var(--text-light);
}

.input-group-text {
    background: var(--secondary-color);
    color: var(--text-light);
    border: none;
}

.btn-primary {
    background: var(--secondary-color);
    border: none;
}

.btn-primary:hover {
    background: var(--secondary-light);
}

.toggle-password {
    cursor: pointer;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

