.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    margin-bottom: 15px;
}

button {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

.alert-info {
    background-color: var(--primary-light);
    color: var(--text-color);
    padding: 10px;
    border-radius: var(--border-radius);
}