body {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    font-family: 'Arial', sans-serif;
    padding-top: 70px;
}




/* Navbar style */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Navbar links style */
.navbar-nav .nav-item .btn {
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 8px 20px;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .btn:hover {
    background-color: #ff5e62;
}

/* Responsive design for smaller screens */
.navbar-toggler-icon {
    background-color: #ff5e62;
}
