:root {
    /* Primary Colors */
    --primary-color: #FF9F00; 
    --primary-light: #FFB84D;
    --primary-dark: #FF6600;

    /* Secondary Colors */
    --secondary-color: #FF5E62;
    --secondary-light: #FF7D7F;
    --secondary-black: rgb(0, 0, 1);

    /* Background and Card */
    --background-color: #F8F8F8;
    --background-dark: #121212;
    --background-dark-card: #1F1F1F;
    --card-bg: #FFFFFF;
    
    /* Text Colors */
    --text-light: #FFFFFF;
    --text-color: #333333;
    --text-dark: #CCCCCC;
    
    /* Link Colors */
    --link-color: var(--primary-color);
    --link-hover-color: var(--primary-light);
    --button-active: #76031A;
    
    /* Borders and Shadows */
    --border-color: #E4E4E4;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    /* Buttons */
    --button-hover: #FF3E50;
    --accent-color: #FF5E62;
    --overlay-bg: rgba(0, 0, 0, 0.4);

    /* Border Radius */
    --border-radius: 10px;
}

/* Dark Mode Overrides */
[data-theme='dark'] {
    --background-color: #000000;
    --background-dark-card: #1F1F1F;
    --card-bg: #2e2e2e;
    --text-light: #ffffff;
    --text-color: #ffffff;
    --primary-color: #FF6600;
    --secondary-color: #FF5E62;
    --link-color: var(--primary-color);
    --link-hover-color: var(--primary-light);
    --button-hover: #FF3E50;
    --accent-color: #FF5E62;
}

body {
    background-color: var(--background-color);
    font-family: "Raleway", sans-serif;
    padding-top: 70px;
}

h2, h4 {
    color: var(--accent-color);
    margin-bottom: 20px;
    font-weight: 800;
}

h3 {
    font-weight: 700;
}

label {
    color: var(--text-color);
    font-weight: 500;
}

/* Flash message styling */
.flash-message {
    transition: opacity 1s ease, visibility 1s ease;
    padding: 15px;
    border-radius: 5px;
    color: var(--button-active);
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    visibility: visible;
    opacity: 1;
}

.flash-message.fade-out {
    visibility: hidden;
    opacity: 0;
}

.flash-message.hidden {
    visibility: hidden;
    opacity: 0;
}

/* Success, Error, Info Message Styles */
.flash-message-success {
    background-color: #54ce58;
}

.flash-message-error {
    background-color: #f44336;
}

.flash-message-info {
    background-color: #209bff;
}

.flash-message:hover {
    opacity: 0.9;
}

/* Flash message container */
.flash-message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    z-index: 9999;
    display: none;
}

.flash-message p {
    margin: 0;
}

.alert {
    font-size: 1rem;
    padding: 10px;
    border-radius: var(--border-radius);
}