{% extends 'base.html' %}

{% block title %}Submit Your Complaint{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/complaints.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row align-items-center">
        <h2 class="text-center mb-4">Submit Your Complaint or Suggestion</h2>

        <!-- Lottie Animation -->
        <div class="col-md-6">
            <dotlottie-player src="https://lottie.host/82b23e81-bc44-4f18-806b-524c416b6b20/iF6AtoTqsb.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
        </div>
        <!-- Form on the Right -->

        <div class="col-md-6">
            <div class="card shadow-lg p-4 auth-card mx-auto">
                <h3 class="text-center mb-4">SQUEEZY FEEDBACK</h3>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} text-center flash-message">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

                <form class="card" action="{{ url_for('complaints.submit_complaint') }}" method="POST" id="complaint-form">

                    <div class="mb-3">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="message">Your Complaint / Suggestion</label>
                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
{% endblock %}
